/* 
    .organization-details {
      background-color: #f5f5f5;
      padding: 20px;
      text-align: center;
      width: 300px; /* Set your preferred width */
    }

    .organization-logo {
      max-width: 100px; /* Set your logo's max width */
      margin: 0 auto;
    }

    .organization-heading {
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px;
    }

    .organization-strength,
    .organization-address {
      margin-top: 10px;
    }

    .donate-button {
      background-color: #ff8c00;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    } */